.msg-item {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.msg-item.msg {
    width: 100%;
    margin-top: -10px;
    position: absolute;
    top: 0;
    /* left: 0; */
    margin-left: -1rem;
    /* border: 1px dashed red; */
}
.msg-item.msg-empty {
    width: 100%;
    height: 15px;
    z-index: 10;
}
.msg-item.msg-empty.msg-empty--top {
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, white, transparent);
    margin-bottom: -15px;
}
.msg-item.msg-empty.msg-empty--bottom {
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, white, transparent);
    margin-top: -15px;
}
.msg-item.msg-header {
    display: block;
    bottom: 175px;
    left: 0;
    width: 100%;
    border-top: 1px solid lightgrey;
    background-color: #f8f8fa;
    z-index: 100;
    height: 30px;
}
.msg-item.msg-view--container {
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: all .5s ease;
}
/* message dimmer for load new messages start */
.msg-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    /* background-color: green; */
    z-index: 10;
}
.load {
    animation-name: load-new-messages;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes load-new-messages {
    0% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 10%, rgb(2, 105, 2) 20%, rgba(2, 175, 2, 0.699) 35%, transparent 55%);
    }
    5% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 12%, rgb(2, 105, 2) 22%, rgba(2, 175, 2, 0.699) 38%, transparent 58%);
    }
    10% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 15%, rgb(2, 105, 2) 25%, rgba(2, 175, 2, 0.699) 40%, transparent 60%);
    }
    15% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 16%, rgb(2, 105, 2) 28%, rgba(2, 175, 2, 0.699) 42%, transparent 63%);
    }
    20% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 18%, rgb(2, 105, 2) 31%, rgba(2, 175, 2, 0.699) 44%, transparent 64%);
    }
    25% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 20%, rgb(2, 105, 2) 32%, rgba(2, 175, 2, 0.699) 45%, transparent 65%);
    }
    30% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 23%, rgb(2, 105, 2) 35%, rgba(2, 175, 2, 0.699) 47%, transparent 66%);
    }
    35% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 26%, rgb(2, 105, 2) 36%, rgba(2, 175, 2, 0.699) 48%, transparent 67%);
    }
    40% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 30%, rgb(2, 105, 2) 38%, rgba(2, 175, 2, 0.699) 49%, transparent 68%);
    }
    45% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 33%, rgb(2, 105, 2) 40%, rgba(2, 175, 2, 0.699) 50%, transparent 69%);
    }
    50% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 35%, rgb(2, 105, 2) 43%, rgba(2, 175, 2, 0.699) 53%, transparent 70%);
    }
    55% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 38%, rgb(2, 105, 2) 45%, rgba(2, 175, 2, 0.699) 55%, transparent 73%);
    }
    60% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 40%, rgb(2, 105, 2) 47%, rgba(2, 175, 2, 0.699) 56%, transparent 76%);
    }
    65% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 42%, rgb(2, 105, 2) 50%, rgba(2, 175, 2, 0.699) 57%, transparent 79%);
    }
    70% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 45%, rgb(2, 105, 2) 53%, rgba(2, 175, 2, 0.699) 59%, transparent 82%);
    }
    75% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 46%, rgb(2, 105, 2) 55%, rgba(2, 175, 2, 0.699) 61%, transparent 85%)
    }
    80% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 48%, rgb(2, 105, 2) 57%, rgba(2, 175, 2, 0.699) 64%, transparent 87%);
    }
    85% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 50%, rgb(2, 105, 2) 60%, rgba(2, 175, 2, 0.699) 67%, transparent 90%);
    }
    90% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 53%, rgb(2, 105, 2) 62%, rgba(2, 175, 2, 0.699) 68%, transparent 93%);
    }
    95% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 55%, rgb(2, 105, 2) 63%, rgba(2, 175, 2, 0.699) 70%, transparent 95%);
    }
    100% {
        background-image: linear-gradient(to right, transparent, rgba(0, 128, 0, 0.822) 60%, rgb(2, 105, 2) 65%, rgba(2, 175, 2, 0.699) 72%, transparent 97%);
    }
}
/* message dimmer stop */
.msg-report-new-messages {
    position: absolute;
    box-sizing: border-box;
    top: 25px;
    left: 25px;
    width: 10px;
    line-height: 10px;
    text-align: center;
    font-weight: bold;
    min-height: 10px;
    border-radius: 50%;
    background-color: rgb(57, 152, 207);
    z-index: 10;
    box-shadow: 0 0 10px 0 rgb(83, 142, 197);
    opacity: 0;
    transition: all .3s ease;
}
.msg-has-new-messages {
    opacity: 1;
    top: 15px;
    left: 15px;
    width: 30px;
    max-height: 30px;
    line-height: 30px;
}
.msg-new-messages--label {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    padding: 5px;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 100%;
    margin: -5px 5px 0 5px;
}
.msg-new-messages--label:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin: -5px 0 0 -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
}

.msg-form--container {
    overflow: hidden;
}
.msg-item.msg-view--container .comment {
    float: right;
}
.msg-form--container_show {
    height: 230px;
    transition: height .5s ease;
}
.msg-form--container_hide {
    height: 0;
    transition: height .5s ease;
}
.msg-item.msg-form {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    height: 200px;
    z-index: 100;
}
.msg-item.msg-form--input {
    width: 100%;
}
.msg-form .msg-item.msg-form--input .msg-form--input_field {
    height: 130px;
}
.msg-form .msg-form--btn {
    margin: 10px 0 0 0;
    width: 100%;
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
}

.msg-item.msg-form--initial {
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
}
.msg-item.msg-form--initial_btn {
    width: 100%;
    height: 50px;
    border-top: 1px solid lightgrey;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.msg-item.msg-form--initial_hide {
    height: 50px;
    transition: all .5s ease;
}
.msg-item.msg-form--initial_show {
    height: 20px;
    line-height: 20px;
    transition: all .5s ease;
}
