.ui.header.msg-header--item {
    padding: 2px 10px;
    border-radius: 5px;
    transition: all .3s ease;
    overflow: hidden;
    /* padding-right: 0;
    padding-left: 0; */
    margin: 0;
    z-index: 100;
}
.ui.header.msg-header--item:hover {
    background-color: rgba(201, 201, 201, .3);
    /* padding: 5px 10px 5px 5px; */
    margin-right: 0;
}

.ui.header.msg-header--item .msg-header--item_hidden {
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    transition: all .3s ease;
}
.ui.header.msg-header--item:hover > .msg-header--item_hidden {
    opacity: 1;
    width: auto;
}

.ui.header.msg-header--item .msg-header--item_image {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    /* margin-right: 0;
    margin-top: 0; */
}
.msg-header--item .msg-header--item_name {
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.msg-header--item .msg-header--item_type {
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    margin: 0;
}