<div class="ui items">
    <div *ngIf="globalError" class="ui error message">
        {{_errorMessage}}
    </div>
    <!-- Шаблоны для отображения статуса пользователя -->
    <ng-template #mentor>Наставник</ng-template>
    <ng-template #simpleUser>Рядовой пользователь</ng-template>

    <!-- Шаблон карточки пользователя -->
    <div *ngFor="let user of users" class="item">
        <div class="image"></div>
        <div class="content">
            <div *ngIf="hasError && errorAccount === user.username" class="ui error message">
                {{_errorMessage}}
            </div>
            <div class="header">{{user.username}}</div>
            <div class="meta">
                <div *ngIf="user.type === 'mentor'; then mentor else simpleUser"></div>
            </div>
            <div class="description">
                Количество пройденых тренировок: {{user.trainings}}
            </div>
        </div>
        <div class="actions">
            <div>
                <a>Дополнительная информация</a>
            </div>
            <div>
                <a (click)="resetBindRequest(user)">Отменить запрос</a>
            </div>
        </div>
    </div>
</div>
<pagination [totalCount]="totalCount" [pageSize]="step" [(currentPage)]="page"></pagination>